.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast {
    width: 300px;
    background-color: #712CF9;
    color: #ffff;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    animation: 1.5s slide-left;
}
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }

  /* .toast-hide {
    animation: 3s slide-right;  
}

 @keyframes slide-right {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 0;
  }
}

.toast-hide-no-display{
    display: none;
} */

.toast-hide {
    display: none;
} 

.toast-close{
    color: #fff;
    font-size: x-small;
    font-weight: 700;
}

.toast-header {
    display: flex;
    justify-content: space-between;
}

.toast-title {
    margin: 0;
}

.toast-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toast-body {
    margin: 10px 0;
}

.toast-footer {
    display: flex;
    /* justify-content: flex-end; */
}

.toast-button {
    /* background-color: #dc3545; */
    /* color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer; */
   
}

/* .confirm-button{
    background-color: rgb(237, 242, 245);
    border: .5px solid rgb(79, 155, 187);
    color: black;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #6437be;
    color: white;
    font-weight: 600;
     border: #6437be;
    transition: all 0.3s ease-in;
} */

.confirm-button {
    background-color: rgb(237, 242, 245);
    border: .5px solid rgb(79, 155, 187);
    color: black;
    font-weight: 600;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.confirm-button:hover {
    background-color: #6437be;
    color: white;
    border: .5px solid #6437be;
    /* border: none; */
}

.toast-button {
    background-color: transparent; 
    color: #ffff; 
    border: none;
    font-weight: 600;
    /* border: 1px solid #000;
    /* margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s; */
}
.toast-button:hover {
    text-decoration: underline;
}