.click-me{
  color: white;
  background: #6437be;
  width: 300px;
  font-size: 30px;
  border-radius: 32px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-color: #6437be;
}

toast-root{
  transform: translateX(calc(0% - 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}